.wrapper {
  padding-bottom: 42px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;
}
.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
  letter-spacing: 0.05em;
}
.description {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}
.btnTeam {
  width: 145px;
}
.unionTeamList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 42px;
}
.unionTeamItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}
.ListWrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  justify-content: center;
}
.wrapperItem {
  position: relative;
  width: 296px;
}
.wrapperImg {
  width: 296px;
  margin-bottom: 32px;
}
.wrapperTitle {
  position: absolute;
  top: 22px;
  left: 22px;

  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: rgba(226, 230, 235, 0.05);
  -webkit-text-stroke: 0.8px var(--white-color);
}
.ListBottom {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
}
.itemBottom {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  align-self: flex-start;
  padding-left: 30px;
}
.itemBottom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateY(50%); */
  width: 14px;
  height: 14px;
  background-color: var(--red-color-E50040);
}

@media (min-width: 768px) {
  .top {
    display: grid;
    grid-template-areas:
      'a . . b'
      'c c c c';
  }
  .title {
    grid-area: a;

    /* font-size: 38px;28 */
    font-size: clamp(1.75rem, 1.333rem + 0.868vi, 2.375rem);
    line-height: 1.11;
    margin-bottom: 52px;
  }
  .btnTeam {
    grid-area: b;
  }
  .description {
    grid-area: c;

    /* font-size: 22px;16 */
    font-size: clamp(1rem, 0.75rem + 0.521vi, 1.375rem);
    line-height: 1.36;
  }
  .unionTeamItem {
    /* font-size: 22px;16 */
    font-size: clamp(1rem, 0.75rem + 0.521vi, 1.375rem);
    line-height: 1.36;
  }
  .ListWrapper {
    margin-top: 80px;
    gap: 0;
  }

  .wrapperItem {
    display: flex;
    width: 100%;
    gap: 0;
    align-items: center;
  }
  .wrapperImg {
    display: block;
    margin-bottom: 0;
    /* width: 50%;594/313 */
    width: clamp(19.563rem, 7.854rem + 24.392vw, 37.125rem);
  }

  .wrapperItem:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .wrapperItem:nth-child(2n) p {
    left: 55%;
  }

  .wrapperTitle {
    /* font-size: 74px;36 */
    font-size: clamp(2.25rem, 0.667rem + 3.299vi, 4.625rem);
    top: 56px;
    /* left: 57px;20 */
    left: clamp(1.25rem, -0.292rem + 3.212vw, 3.563rem);
  }

  .ListBottom {
    /* gap: 50px;20 */
    gap: clamp(1.25rem, 0rem + 2.604vw, 3.125rem);
    padding-left: 40px;
    justify-content: left;
  }
  .itemBottom {
    /* font-size: 22px;16 */
    font-size: clamp(1rem, 0.75rem + 0.521vi, 1.375rem);
    line-height: 1.36;
  }
}
