.footer {
  background-color: var(--light-grey);
  margin: 0 auto;
}

.wrapper {
  padding: 64px 0;
}
.footerTopDesc {
  display: none;
}
.footerBottonDEsc {
  display: none;
}
.footerTopMobile {
  display: flex;
  gap: 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 46px;
}
.mobileTopText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.mobileTopList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footerBottonMobile {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
  padding-top: 28px;

  border-top: 1.5px solid var(--red-color-E50040);
}
.logoMob {
  width: 165.8px;
}
.footerMobtext {
  font-size: 8px;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .footerTopMobile {
    display: none;
  }
  .footerBottonMobile {
    display: none;
  }
  .footerTopDesc {
    display: flex;
  }
  .footerBottonDEsc {
    display: flex;
  }
  .wrapper {
    padding-top: 80px;
    padding-bottom: 82px;
  }
  .footerTopDesc {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    align-items: center;
    justify-content: center;
  }
  .footerTopDEscOne {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .totDescText {
    font-weight: 500;
    /* font-size: 16px; */
    font-size: clamp(0.75rem, 0.583rem + 0.347vi, 1rem);
    line-height: 1.12;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .topDescList {
    display: flex;
    /* gap: 40px; */
    gap: clamp(1.25rem, 0.417rem + 1.736vw, 2.5rem);
    align-items: center;
    justify-content: center;
  }

  .footerTopDescTwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 42px;
  }
  .footerTopDescTwoList {
    display: flex;
    /* gap: 41px; */
    gap: clamp(1.25rem, 0.375rem + 1.823vw, 2.563rem);
    align-items: center;
  }

  .footerBottonLink {
    font-weight: 500;
    /* font-size: 16px; */
    font-size: clamp(0.625rem, 0.375rem + 0.521vi, 1rem);
    line-height: 1.12;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .socialList {
    display: flex;
    /* gap: 40px; */
    gap: clamp(1.25rem, 0.417rem + 1.736vw, 2.5rem);
    align-items: center;
    justify-content: center;
  }

  .footerBottonDEsc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding-top: 40px;

    border-top: 2px solid var(--red-color-E50040);
  }
  .footerBottonDEsc img {
    /* width: 331px; */
    width: clamp(12.5rem, 7.042rem + 11.372vw, 20.688rem);
  }
  .footerBottonDEsc p {
    /* font-size: 16px; */
    font-size: clamp(0.75rem, 0.583rem + 0.347vi, 1rem);
    letter-spacing: 0.05em;
  }
}
