.buttonUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var(--red-color-E50040);
  position: fixed;

  z-index: 100;
  top: 470px;
  right: 50%;
  /* left: 50%; */
  transform: translateX(50%);
}
.buttonLink svg path {
  fill: var(--white-color);
}
.buttonLink svg {
  width: 12px;
  height: 13px;
}
.buttonUp:hover,
.buttonUp:focus {
  background-color: var(--white-color);
  border: 1px solid var(--red-color-E50040);
  transition: var(--my-transition-timing-function);
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
}
.buttonLink:hover svg path,
.buttonLink:focus svg path {
  fill: var(--red-color-E50040);
  transition: var(--my-transition-timing-function);
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
}

@media (min-width: 768px) {
  .buttonUp {
    width: 56px;
    height: 56px;
    top: 500px;
  }
  .buttonLink svg {
    width: 25px;
    height: 24px;
  }
}
