.case {
  margin: 0 auto;
}

.containerCase {
  margin: 0 auto;
  padding-right: 32px;
  width: 100%;
  max-width: 360px;
}

.wrapper {
  padding-bottom: 72px;
}

.title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09em;
  letter-spacing: 0.05;
  padding-left: 32px;

  text-align: center;
}
.caseDesc {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.05;

  margin-bottom: 42px;
  padding-left: 32px;
}
.borderBlockDesc {
  display: none;
}

.caseBorderRight {
  display: flex;
}
.borderBlockList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36.55px;

  padding: 32px 16px 42px 32px;
  background-color: var(--light-grey);
  width: 210px;

  font-size: 16px;
  line-height: 1.25em;
  color: var(--red-color-E50040);
}

.borderBlockList li {
  color: var(--primary-font-color-3A4551);
  text-decoration: double;
}

.borderBlockList li:hover,
.borderBlockList li:focus {
  opacity: 0.8;
  transition-duration: var(--my-transition-duration);
}
.borderBlockList b::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--red-color-E50040);
}

.caseContract {
  padding-top: 34px;
  padding-left: 18px;
  height: 100%;
}
.caseContractTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 20px;
}
.caseContratDescr {
  font-size: 14px;
  line-height: 1.16em;
  letter-spacing: 0.05;
  margin-bottom: 20px;
}

.caseLink {
  display: flex;
  gap: 8px;

  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.15;
  text-transform: uppercase;
}

.caseLink img {
  width: 30px;
  height: 12px;
}
.caseLink:hover img,
.caseLink:focus img {
  width: 35px;
  transition: all ease-in 0.5;
  transition-duration: var(--my-transition-duration);
}
.caseLink:hover,
.caseLink:focus {
  opacity: 0.8;
  transition: all ease-in 0.5;
  transition-duration: var(--my-transition-duration);
}

.caseWash {
  width: 100%;
  height: 100%;
}
.caseWashImage {
  width: 100%;
  margin-top: 166px;
}

@media (min-width: 768px) {
  .containerCase {
    /* padding-right: 358px; */
    /* padding-left: 358px; */
    padding-right: clamp(4rem, -8.25rem + 25.521vw, 22.375rem);
    padding-left: clamp(4rem, -8.25rem + 25.521vw, 22.375rem);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  .wrapper {
    padding-bottom: 358px;
  }
  .title {
    /* font-size: 38px; */
    font-size: clamp(1.375rem, 0.708rem + 1.389vi, 2.375rem);
    line-height: 1.1em;
    margin-bottom: 40px;
    text-align: left;
  }
  .caseDesc {
    /* font-size: 22px; */
    font-size: clamp(1rem, 0.75rem + 0.521vi, 1.375rem);
    line-height: 1.36em;
    margin-bottom: 80px;
  }
  .caseBorder {
    position: relative;
  }
  .borderBlock {
    width: clamp(38.75rem, 15.491rem + 48.966vw, 74.25rem);
  }
  .borderBlockDesc {
    display: flex;
    width: 100%;
    height: 768px;
  }
  .caseBorderRight {
    position: absolute;
    /* max-width: 856px; */
    width: clamp(31.25rem, 16.672rem + 30.69vw, 53.5rem);
    display: flex;
    top: 100px;
    right: 0;
  }
  .borderBlockList {
    padding: 48px 20px 48px 20px;
    /* min-width: 350px; */
    min-width: clamp(13.75rem, 8.427rem + 11.207vw, 21.875rem);

    /* font-size: 28px; */
    font-size: clamp(1.375rem, 1.125rem + 0.521vi, 1.75rem);
    line-height: 1.14em;
    font-weight: 500;

    /* gap: 56px; */
    gap: clamp(1.875rem, 0.81rem + 2.241vw, 3.5rem);
  }
  .borderBlockList b::after {
    top: 100px;
  }
  .caseContract {
    padding-top: 48px;
    /* padding-left: 50px; */
    padding-left: clamp(1.25rem, 0.022rem + 2.586vw, 3.125rem);
    background-color: var(--accent-font-color);
    border: inherit;
  }
  .caseContractTitle {
    /* font-size: 28px; */
    font-size: clamp(1.375rem, 1.125rem + 0.521vi, 1.75rem);
    line-height: 1.14em;
    margin-bottom: 40px;
    /* width: 400px; */
    width: clamp(12.5rem, 4.31rem + 17.241vw, 25rem);
  }
  .caseContratDescr {
    /* font-size: 20px; */
    font-size: clamp(1rem, 0.833rem + 0.347vi, 1.25rem);
    line-height: 1.36em;
    margin-bottom: 40px;
  }
  .caseLink {
    gap: 16px;

    font-size: 16px;
    line-height: 1.12em;
  }
  .caseLink img {
    width: 100px;
  }
  .caseLink:hover img,
  .caseLink:focus img {
    width: 110px;
  }
  .caseWashImage {
    margin-top: 136px;
    width: clamp(16.25rem, 8.224rem + 16.897vw, 28.5rem);
  }
}
